body {
    background: url(ChristmasBg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #053a33;
    background-size: cover;
}

.container {
    background-color: none;
    margin-left: auto;
    margin-right:  auto;
}

header h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #ebf0f4;
    font-size: 100px;
}

.column {
    background-color: brown;
    text-align: justify;
    float: left;
    width: 30%;
    padding: 10px;
}

#right {
    float: right;
}

#center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}