body {
    background: url(ChristmasBg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #053a33;
    background-size: cover;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 5px;
}

.container {
    background-color: none;
    margin-left: auto;
    margin-right:  auto;
}

#columns {
    position: absolute;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

#pictures-container {
    position: absolute;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

#pic-right {
    text-align: right;
}

header h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #ebf0f4;
    font-size: 100px;
}

#girl {
    float: right;
}

.column {
    background-color: #fd3423;
    text-align: justify;
    width: 20%;
    padding: 5px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.pic-column {
    background-color: #fd3423;
    text-align: justify;
    width: 30%;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    background: none;
}

.column h1 {
    color: #f5d4b8;
    font-size: 30px;
    font-family: 'Abril Fatface';
    margin-bottom: 0;
    margin-top: 0;
}

#right h1 {
    text-align: right;
}

#center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: none;
    position: relative;
    z-index:1000;
}

button {
    background-color: #fd3423;
    color: #f5d4b8;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 250%;
    border: solid 5px;
    border-radius: 0px;
    cursor: pointer;
}

button:hover {
    color: #f5d4b8;
    background-color: #053a33;
}

#center h1 {
    font-size: 100px;
    color: #053a33;
    text-shadow:
    -5px -5px 0 #f5d4b8,
    5px -5px 0 #f5d4b8,
    -5px 5px 0 #f5d4b8,
    5px 5px 0 #f5d4b8;
}

ul {
    list-style-type: none;
}

li {
    margin: 2%;
}
